#jobs-chart {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*        width: 800px;*/
        height: 280px;
        position: relative;
    }

    svg {
        width: 50%;
        height: 100%;
        position: center;
    }
    .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        font-size: 100%;
        padding: 5px;
        text-align: center;
    }
    .legend {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 5%;
    }
    text {
        font: 12px sans-serif;
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        font-color: #484848;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 1em 0;
        text-transform: uppercase;
    }
    .axis text {
        font: 12px sans-serif;
        font-weight: 700;
    }
    .axis path{
        fill: none;
        stroke: #000;
    }
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    .x.axis path {
        display: none;
    }