body {
  background-color: slategrey;
}

#intro {
	background-color: white;
	text-align: center;
	font-size: 500%;
	margin-left: 10%;
	margin-right: 10%;
}

.shell {
	position: absolute;
	background-color: white;
	text-align: center;
	width: 100%;
	top: 10%;
}
.title {
	padding-top: 3%;
	font-size: 150%;
	text-decoration: underline;
}
.sub-title {
	line-height: 25%;
	font-size: 250%;
}

.description {
	font-size: 125%;
}

#question {
	font-weight: bold;
	padding-top: 4%;
}

#intro h3 {
	padding-bottom: 1%;
}

#intro h2 {
	padding-top: 4%;
}

.navigation {
	position: absolute;
	background-color: slategrey;
	text-align: center;
	font-size:500%;
	width:100%;
	top:2%;
}

.navigation a {
	color: beige;
}

#immigration {
	background-color: white;
	text-align: center;
	font-size: 500%;
}

#immigration h1 {
	font-size: 250%;
	text-decoration: underline;
	color: black;
	text-align: center;
}
#immigration {
	background-color: white;
	padding-top: 1%;
}
 
 #key {
 	font-style: italic;
 	text-align: center;

 }
 #immigration h2 {
 	padding: 3%;
 	text-align: center;
 }

 #immigration img {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
 }

#immigration {
	position: absolute;
	background-color: white;
	text-align: center;
}

#ethics {
	position: absolute;
	background-color: beige;
	text-align: center;
	left: 10%;
	right: 10%;
	top: 10%;
}

#ethics h1 {
	font-size: 250%;
	text-decoration: underline;
	color: black;
	text-align: center;
}
#ethics {
	background-color: beige;
	padding-top: 1%;
	padding-right: content;
	padding-left: content;
}
 
 #ethics h2 {
 	padding: 3%;
 	text-align: center;
 }

 #ethics img {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 80%;
 }

#ethics {
	position: absolute;
	background-color: beige;
	text-align: center;
	left: 10%;
	right: 10%;
	top: 10%;
}

 #about-us {
	background-color: white;
	text-align: center;
	font-size: 500%;
	margin-left: 10%;
	margin-right: 10%;
}

#about-us h1 {
	text-decoration: underline;
}
#about-us p {
	text-align: left;
	margin: 3%;
}

#answers {
	display: block;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}
.chart {
	display: inline-grid;
	margin: 1%;
	width: 2200px;
	height: auto;
	border-style: groove;
}

